
html, body{
	margin: 0;
	max-width: 100%;
	height: 100vh;
  overflow: hidden;
}

.userMessageSpan{
	display: flex;
	justify-content: flex-end;
	width: 96%;
	@media only screen and (max-width: 1024px){
		width: 90%;
	}
}

.userInput{
	@media only screen and (max-width: 1024px){
		width: 85%;
	}
	width: 92%;
	font-size: 14px;
	height: 45px;
	border-radius: 21px;
	border: 1px solid #5CDB95;
}

.messageList{
	max-height: 75%;
	overflow-x: hidden;
	overflow-y: scroll;
}
